@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  /* border: 1px solid #333; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  padding: 0 12%;
  margin: 0;
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

aside {
  min-width: 25vw;
  background-image: url(images/kristijan-arsov-1PZ-B-gxoiU-unsplash.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.aside-cont {
  margin-top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
}

.aside-cont img {
  width: 100px;
}

.aside-cont h2 {
  font-size: 4rem;
}

main {
  flex-grow: 1;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1.5fr 1fr;
  background-color: #f9fafb;
}

.top,
.mid,
.bot {
  padding: 2rem 5rem;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 25%;
}
.top i {
  font-weight: 600;
  font-size: 1.8rem;
}

.top-para,
.top-text {
  font-size: 2rem;
  font-weight: 550;
  /* letter-spacing: 1.5; */
}

.top-text {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.mid {
  display: grid;
  grid-auto-rows: auto 1fr;
  box-shadow: 0.1rem 0 1rem rgba(0, 0, 0, 0.24);
  background-color: #fff;
}

.mid h2 {
  margin-top: 2.5rem;
  font-size: 2.3rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.mid-left,
.mid-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
}

label input {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;

  border: 1.5px solid #e5e7eb;
  border-radius: 0.5rem;
}

label input:focus {
  outline: 2px solid #3b82f6;
}

.error {
  outline: 2px solid rgba(255, 0, 0, 0.603);
}

.password-span {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}

.bot button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  background-color: #84cc16;
  color: #fff;
  margin: 2rem 0;
  cursor: pointer;
}

.bot button:hover {
  background-color: #4d7c0f;
}

.bot p {
  font-size: 2rem;
}

.bot p span {
  color: #84cc16;
  font-weight: bold;
}

.bot p span:hover {
  color: #4d7c0f;
  cursor: pointer;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  form {
    grid-template-columns: 1fr;
  }
} ;
